<!DOCTYPE html>
<html>
    <head>
        <title>Angular Course Homework</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="main.js"></script>
    </head>
    <body ng-app="groceriesApp">
        <div class="container">
            <div class="ingredientForm" ng-controller="ingredientController as iFC">
                <h1>Feed me list</h1>
                <label>Ingredient: </label>
                <input type="text" ng-model="iFC.ingredientName">
                <button ng-click="iFC.addIngredientToList()">Save</button>
            </div>
        </div>
    </body>
</html>
