<!DOCTYPE html>
<html>
    <head>
        <title>Angular Course Homework</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="../node_modules/angular/angular.min.js"></script>
    </head>
    <body ng-app="groceriesApp">
        <div class="container">
            <div class="ingredientForm" ng-controller="groceriesController">
                <h1>Feed me list</h1>
                <label>Ingredient: </label>
                <input type="text" ng-model="ingredientName">
                <button ng-click="addIngredientToList()">Save</button>
            </div>
            <div class="ingredientOverview">
                <ul>
                    <li ng-repeat="ingredient in groceriesController.ingredients">
                        {{ ingredient.name }}
                    </li>
                </ul>
            </div>
        </div>
        <script src="main.js"></script>
    </body>
</html>
