<!DOCTYPE html>
<html>
    <head>
        <title>Angular Course Homework</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="main.js"></script>
    </head>
    <body ng-app="groceriesApp">
        <div class="container">
            <div class="ingredientForm" ng-controller="ingredientController as iC">
                <h1>Feed me list</h1>
                <label>Ingredient: </label>
                <input type="text" ng-model="iC.ingredientName">
                <button ng-click="iC.addIngredientToList()">Save</button>
                <div class="ingredientList">
                    <h2 ng-show="ingredient < 0">Get this stuff to be stuffed</h2>
                    <ul>
                        <li ng-repeat="ingredient in iC.getIngredientList()">
                            {{ ingredient }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>
